{
  "job_type": "IslandViewer",
  "first_component": "cvtree",
  "admin_email": "lairdm@sfu.ca",
  "mailer_from": "islandpick-mail@sfu.ca",
  "mailer_script": "/home/shared/Modules/islandviwer/mailuser.pl %%jobid%%",
  "components": [
      {
          "name": "cvtree",
          "status_test":  "/home/lairdm/metascheduler/bin/job_test.pl -jobid %%jobid%%",
          "on_success": "sigi,dimob,islandpick",
          "on_failure": "summary",
          "success_required": "true"
      },
      {
          "name": "sigi",
	  "status_test":  "/home/lairdm/metascheduler/bin/job_test.pl -jobid %%jobid%%",
          "on_success": "summary",
          "on_failure": "summary",
          "success_required": "false"
      },
      {
          "name": "islandpick",
	  "status_test":  "/home/lairdm/metascheduler/bin/job_test.pl -jobid %%jobid%%",
          "on_success": "summary",
          "on_failure": "summary",
          "success_required": "false"
      },
      {
          "name": "dimob",
	  "status_test":  "/home/lairdm/metascheduler/bin/job_test.pl -jobid %%jobid%%",
          "on_success": "summary",
          "on_failure": "summary",
          "success_required": "false"
      },
      {
          "name": "summary",
	  "status_test":  "/home/lairdm/metascheduler/bin/job_test.pl -jobid %%jobid%%",
	  "depends_on": [
	      {
	        "component": "sigi",
                "success_required": "false"
              },
	      {
	        "component": "dimob",
                "success_required": "false"
              },
	      {
	        "component": "islandpick",
                "success_required": "false"
              }
	  ],
          "success_required": "true"
      }
  ]
}